.oserion_toolbar_container {
    margin-top: 25px;
    position: relative;
}

#oserion_toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 23px;
    padding: 3px;
    float: right;
    border: 1px #DADADA solid;
    border-bottom: 1px #bfbfbf solid;
    border-right: 1px #bfbfbf solid;
    background-color: #dfdfdf;
    z-index: 1000;
}

#oserion_toolbar .editButton {
    float: left;
    width: 26px;
    height: 23px;
    background-position: top left;
    background-image: url("images/edit_button_icon.jpg");
    cursor: pointer;
}

#oserion_toolbar .editButton.active {
    background-position: bottom left;
}

#info_block {
    color: #1b559f;
    width: auto;
    font-family: Arial;
    font-size: 11px;
    line-height: 23px;
    cursor: pointer;
    margin-left: 5px;
    float: left;
}

#oserion_toolbar .richTextEditor {
    position: absolute;
    top: 60px;
    left: 80px;
    width: 800px;
    height: auto;
    background-color: white;
    border: 1px #1B559F solid;
    padding: 10px;
    display:none;

}

#oserion_toolbar .richTextEditor h1 {
    font-family: Arial;
    font-size: 12px;
    margin: 0;
    padding: 0 0 10px 0;
    text-align: center;
}

.textarea-container {
    position: relative;
    float: none;
}

.oserion_highlight{
    border:2px #1b559f solid !important;
    cursor:pointer !important;
}
.oserion_highlight:hover{
    border:2px #ff5d00 solid !important;
}

textarea.tinymce {
}